body{
  /* background-color: #F1ECD7; */
  background-color: #F9F7EF;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

a{
  text-decoration: none;
  color:black;
}

a:visited{
  text-decoration: none;
  color:black;
}

.text{
  position: relative;
  width:55%;
  height:170%;
  position: absolute;
  left: 22.5%;
  top:20%;
}

i{
  font-weight: normal;
  font-size: 18px;
}

h2{
  text-align: center;
  font-size: 19px;
  font-family:  Helvetica, sans-serif;
  position: absolute;
  left: 45%;
  top:7%;
}


p{
  text-indent: 10%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


body{
text-align: justify;
font-size: 19px;
font-family:  Helvetica, sans-serif;
line-height: 1.25em;
font-style: normal;
font-weight: 600;
}

.note1{
  position: relative;
  left:2%;
  top:55px;
  width: 40%;
  height: 40%;
}

.note1:hover{
  content: url('https://res.cloudinary.com/daa5ehdxc/image/upload/v1588841449/final%20website/Untitled_Artwork_44_to9jpa.png');
  position: relative;
  margin-top:45px;
  width: 50%;
  height:50%;
}


.note2{
  position: relative;
  left:7%;
  top:850px;
  width: 40%;
  height: 40%;
}

.note2:hover{
  content: url('https://res.cloudinary.com/daa5ehdxc/image/upload/v1588841449/final%20website/Untitled_Artwork_45_dlsyvc.png');
  position: relative;
  margin-top:45px;
  width: 50%;
  height:50%;
}
